<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFacture</servlet-name>
        <servlet-class>ServletFacture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFacture</servlet-name>
        <url-pattern>/ServletFacture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletListeFacture</servlet-name>
        <servlet-class>ServletListeFacture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletListeFacture</servlet-name>
        <url-pattern>/ServletListeFacture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDelete</servlet-name>
        <servlet-class>ServletDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDelete</servlet-name>
        <url-pattern>/ServletDelete</url-pattern>
    </servlet-mapping>
</web-app>


